<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scan Attendance</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- Include the QR code scanner library -->
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>

<body>
    <header>
        <h1>Scan Attendance</h1>
        <button onclick="window.location.href='dashboard.html'">Back</button>
    </header>
    <main>
        <div id="qr-reader" style="width:500px;"></div>
        <p id="statusMessage"></p>
        <p>
            <strong>Note:</strong> If the camera doesn't work:
            <ul>
                <li>Ensure you allow camera access in your browser settings.</li>
                <li>For localhost, use <code>https://</code> via tools like <a href="https://ngrok.com/" target="_blank">ngrok</a>.</li>
            </ul>
        </p>
    </main>

    <script src="../public/js/qrScanner.js"></script>
</body>

</html>